#content {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}

#background {
    height: 725px;
    grid-column: 1/11;
    grid-row:4/9
}

#body {
    background-color: #fcfbfb;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.home-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#header{
    background-color: rgba(20,30,13,.7);
    display: grid;
    grid-template-columns: 150px auto;
}

nav a:hover {
    background-color: black;
    color:#d9c2a3;
}

#hero{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}

.book{
    background-color:#dac2a5;
    color: black;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.join{
    background-color:#dac2a5;
    color: black;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
}

.book:hover{
    background-color:#dac2a5;
    color: #d9c2a3;
}

.join:hover{
    background-color:#dac2a5;
    color: black;
}

#background{
    background-color:#dac2a5;
    grid-column: 1/11;
    grid-row: 4/9;
}

.msg{
    background-color:#6f7364;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}

footer{
    background-color:#6f7364;
    color: #d9c2a3;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    width: 80px;
}

.icon{
    width: 80px;
    padding-top: 10px;
}

.home-title{
    color:#d9c2a3;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

h4{
    color: black;
}

.footer a:hover{
    background-color: black;
    color: #d9c2a3; 
}


nav a{
    text-align:center;
    color: white;
    text-decoration: none;
    padding: 35px;
}

footer p{
    font-size: 1.2em;
    text-align: left;
}

footer p a:hover{
    text-decoration: underline;
}

#hero-msg h1{
    text-align: center;
}

#hero-msg h4{
    text-align:center;
    color:white;

}

.button-box{
    text-align:center;
}

main section{
    text-align:center;
}

.msg h2{
    color: white;
}

.msg p{
    color: white;
    font-size: .8em;
    padding-bottom: 15px;
}

#hero-img {
    width:100%;
}

header{
    background-color:#6f7364;
    text-align: left;
    display: grid;
    grid-template-columns: 150px auto;
}

.nav {
    text-align: left;
    display: flex;
    justify-content: space-around;
}

h2 {
    margin: 0;
}

#logo_link{
    padding-top: 5px;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.social img{
     padding-top: 15px;
    }

.rivers-card{
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card{
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card{
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}

.card-img {
    border: 10px solid #d9c2a3;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
main section img {
    box-sizing: border-box;
}

.mountains{
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}


#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

/** My personal page **/
.question{
    color: royalblue;
    justify-self: left;
    width: 50%;
}

.answer{
    text-align:left;
    justify-self: left;
    width: 45%;
}

.shadonkonk{
    width: 50%;
    height: 50%;
    border: 5px solid #4169e1;
    position: relative;
    left: 325px;
    bottom: 500px;
}

.myimage2{
    width:75%;
    height: 75%;
}


/** Shadonk **/

.section-header {
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
    font: 300 60px 'Oswald', sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 6px;
 }
 
.contact-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    max-width: 840px;
 }
 
.form-control,
 textarea {
    max-width: 400px;
    background-color: beige;
    color: #5171A5;
    letter-spacing: 1px;
 }
 
 
.alt-send-button {
    width: 400px;
    height: 34px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
 }
 
.alt-send-button:hover {
    -webkit-transform: translate3d(0px, -29px, 0px);
    transform: translate3d(0px, -29px, 0px);
 }
 
.contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
 }
 
 
.list-item {
    line-height: 4;
    color: #aaa;
 }
 
 
.contact-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
    color: #bbb;
 }
.contact-text a {
    color: #bbb;
    text-decoration: none;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
 }
 
 
.contact-text a:hover {
    color: #5171A5;
    text-decoration: none;
 }
.send-button {
    margin-top: 20px;
    height: 34px;
    width: 400px;
    overflow: hidden;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
 }

.form-control{
    position: relative;
    top: 20px;
}

.mysend{
    position: relative;
    top: 10px;
}
 
form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
  }

#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}
  

/** End Shadonk **/

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
            