main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.cherbear{
    grid-column: 1/2;
    top:10px;
    height: 100%;
}


.grey1{
    height: 125%;
    width: 500%;
    background-color: #b9b8b9;
    grid-column: 3/6;
}

.cherrytext {
  z-index: 100;
 position: absolute;
 color: black;
 font-size: 115px;
 left: 80px;
 bottom: 360px;
 letter-spacing: 31px;
      }

.bears{
 z-index: 100;
 position: absolute;
 color: #9c0e11;
 font-size: 50px;
 font-weight: bold;
 left: 910px;
 top: 425px;
 letter-spacing: 20px;
}